.preverb {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 221);
}

.title {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 221);
}
.title2 {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 221);
}
.title3 {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 221);
}

body{
    background-image: url("1702147335_sportishka-com-p-merke-gori-oboi-87.jpg")
}
